*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 2rem;
}

.wrapper {
    gap: 2rem;
    justify-content: center;
    float: left;
    margin-left: 100px;
  }

.card {
    width: 350px;
    min-height: 100px;
    max-height: 400px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 26);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    transition: transform 200ms ease-in;
    
}

.wrapper .card .header-card .title-card{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.wrapper .card .body-card img{
    height: 10rem;
    width: 100%;
    object-fit: cover;
}

.wrapper .card .body-card .content-card{
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper .card .body-card .footer-card {
    display: flex;
    flex-direction: row;
}

.footer-card .card-button{
    width: 90%;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid red;
    background: transparent;
    color: red;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.02);
}

.card-button:hover  {
    background: red;
    color: white;
}

